{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.35"
      }
    ]
  ],
  "env": {
    "test": {
        "presets": [
            [
            "@babel/preset-env",
                {
                    "targets": {
                        "node": "current" // !!
                    }
                }
            ]
        ]
    }
  }
}
